
// .wong-loading {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 750%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   z-index: 9999;
//   background-color: transparent;
//   transition: opacity 1s;
//   pointer-events: none;

//   &-spinner {
//     display: inline-block;
//     position: relative;
//     width: 64px;
//     height: 64px;
//     div {
//       box-sizing: border-box;
//       display: block;
//       position: absolute;
//       width: 51px;
//       height: 51px;
//       margin: 6px;
//       border: 6px solid #fff;
//       border-radius: 55%;
//       animation: wong-loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
//       border-color: #fff transparent transparent transparent;
  
//       &:nth-child(1) { animation-delay: -0.45s; }
//       &:nth-child(2) { animation-delay: -0.3s; }
//       &:nth-child(3) { animation-delay: -0.15s; }
//     }
//   }
// }

// @keyframes wong-loading-spinner {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
