$primary-color: #333;
$correct-feedback: #269F05;
$incorrect-feedback: #EC5E33;

.choose-option {
  display: flex;
  flex-flow: column;
  justify-content: start;
  font-family: Myriad Pro;
  font-size: 20px;
  padding: 30px;
  height: 100%;

  * {
    transition: all 1s;
  }

  &--title {
    font-family: Pangolin;
    font-size: 26px;
  }

  &--body {
    display: flex;
    flex: auto;

    > * {
      flex: 1;
      height: 100%;
      padding: 0 20px;
    }
  }

  &--cover {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--options {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }

  &--option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div:first-child {
      margin-right: 10px;
    }
  }

  &--feedback {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-flow: column;
    font-family: Myriad Pro;

    .correct-feedback {
      font-family: Pangolin;
      color: $correct-feedback;
    }
  
    .incorrect-feedback {
      font-family: Pangolin;
      color: $incorrect-feedback;
    }
  }
}
