<style>
  .login {
    text-align: center;
  }

  input[type="submit"] {
    width: 50%;
    height: 35px;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    background-color: #F05300;
    margin-top: 20px;
  }

  input:not([type]):focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=datetime]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=text]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #F05300;
    box-shadow: 0 1px 0 0 #F05300;
  }
</style>

<div class="login">
  <input type="text" placeholder="Username" id="username" name="username">
  <input type="password" placeholder="password" id="password" name="password">

  <input type="submit" value="Sign In" name="loginButton">
</div>
