.infopic {
    position: relative;
    background-position: center;

    .caption {
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 100%;
        padding-left: 3px;
    }
}

// .selname {
//     width: auto;
// }
