@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


body{
  background-color: #8691a7
}
.container{
    background-color: #d0d0d0;;
    padding: 80px;
    padding-bottom: 10px;
    width:60%
    // border-radius: 10px;
    // max-width: 98% !important;
}

.container p{
  font-family: serif;
  font-size: 8vw;
  color:#ffffff;
  line-height: 90pt
}

.colLeft{
    background-color: #f3f3f3;
    padding:10px;
    height: 100%;
    min-height: 600px !important;
    
}

#list{
  height: 100%;
    li{
        list-style: none;
    }
}
.colRight{
    background-color: #6a7ca0;;
    padding:10px;
    height: 100%;
    min-height: 600px !important;
}

// .cardLeftSide{
//   float:left
// }

// .CardRightSide{
//   float:left
// }

.c-list {
  padding: 0px;
  min-height: 44px;
}
.title {
  display: inline-block;
  font-size: 1.7em;
  font-weight: bold;
  padding: 5px 15px;
}
ul.c-controls {
  list-style: none;
  margin: 0px;
  min-height: 44px;
}

ul.c-controls li {
  margin-top: 8px;
  float: left;
}

ul.c-controls li a {
  font-size: 1.7em;
  padding: 11px 10px 6px;   
}
ul.c-controls li a i {
  min-width: 24px;
  text-align: center;
}

ul.c-controls li a:hover {
  background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
  font-size: 1.7em;
}

.name {
  font-size: 1.7em;
  font-weight: 700;
}

.c-info {
  padding: 5px 10px;
  font-size: 1.25em;
}
