@import "~bootstrap/scss/bootstrap";

$font-stack: "PT Sans";
$primary-color: #333;
$correct-feedback: #269F05;
$incorrect-feedback: #ad773d;
$green-active: #3FB91E;

@font-face {
    font-family: 'Myriad Pro';
    font-weight: bold;
    font-style: normal;
    src: url(./../fonts/MyriadPro-SemiBold.otf) format('opentype'),
}

@font-face {
    font-family: 'Myriad Pro';
    font-weight: normal;
    font-style: normal;
    src: url(./../fonts/MyriadPro-Regular.ttf) format('truetype'),
}



html,
body {
    height: 100%;
    // overflow: scroll;
}

body {
    font-family: $font-stack;
    color: $primary-color;
    margin: 0 !important;
    background-color: #F6E5A0 !important;
}

.flex {
    display: flex;
    align-items: center;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.container{
    width:100% !important;
    overflow: hidden;
    height: 100%;
    max-width: 100% !important;
    padding:0;
    z-index: 1;
    top:0;
    position: fixed;
}
.interactiveHeader{
    margin-bottom:0px !important;
    font-family: Roboto;
    z-index: 3;
    top:0
}

.mainWrapper{
    height: 100%;
    overflow: hidden;
    /* margin-top: 30px; */
    // background: antiquewhite;
}

.fullscreenContainer {
    // position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // height:100%;
}
.mainContainer {
    position: relative;
    width: 100%;
    // width :1000px;
    margin-left: auto;
    margin-right: auto;
    // margin-top:1.5%;
    height:90%;
}

#videoTest {
    top: 0;
    position: absolute;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #E9C258;
    z-index: 3
}

.rightFooterNav{
    text-align: right;
    padding-right: 50px
}

.centerFooterNav img{
    width: 120px;
    
}

.centerFooterNav{
    text-align: center
    
}

#checkAnswers{
    margin-left:40px
}

canvas {
    margin-top: 0 !important; // background-color:#f00;
}

#canvasContainer {
    // z-index: 3;
    margin-top: 0;
    top: 0;
    background-color: transparent;
    position: absolute;
    margin: 0 !important;
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
    

}

#fullscreencontainer {
    // z-index: 3;
    // margin-top: 0;
    // top: 0;
    // // background-color: transparent;
    // // position: absolute;
    // margin: 0 !important;
    // width: 100% !important;
    // height: 100%;
    // margin-left:auto;
    // margin-right: auto;

    overflow: hidden;
    width: 100%;
    height: 100%;

}

#videoContainer {
    // z-index: 0; 
    // margin-top:0;
    top: 0; // background-color:#0f0;
    position: absolute;
    opacity: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // height: 100% !important;

}

#videoContainer video {
    // width: 1920;
    // height: 1080; 
    // margin-top:0px;
    // margin-left:0px;
    margin-left: auto;
    margin-right: auto;
    // object-fit: fill;
}

.plyr--video {
    background: #e6e6e6 !important;
    height: 100%;
}

.plyr__video-wrapper {
    background: #e6e6e6 !important; // background: transparent !important;
    height: 100%;
}

.plyr--video .plyr__controls {
    background: #222 !important;
    opacity: .7;
    padding: 0 !important;
}

.plyr--full-ui input[type='range'] {
    color: #E84A09 !important;
}

.plyr__control {
    margin-left: 0 !important;
    border-radius: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 0px #E84A09 !important;
    outline: 0;
}

.plyr--full-ui input[type="range"] {
    color: #E84A09 !important;
}

.plyr--video .plyr__progress__buffer {
    color: rgba(255, 255, 255, 0.5) !important;
}

.plyr__menu .plyr__control[aria-expanded='true'] svg {
    transform: rotate(0deg) !important;
}

.plyr__controls>.plyr__control,
.plyr__controls .plyr__menu,
.plyr__controls .plyr__progress,
.plyr__controls .plyr__time,
.plyr__controls .plyr__volume {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.plyr__controls .plyr__time--duration {
    margin-left: 0 !important
}

.plyr__controls .plyr__time--current {
    margin-right: 10 !important;
}


.row {
    margin-left: auto !important;
    margin-right: auto !important;
}

// .sceneTitle {
//   font-family: "PT Sans";
//   font-size: 2vw;
//   line-height: normal;
//   color: #FFFFFF;
//   padding-top: 0.5vw;
// }

@media (min-width: 768px) {
    .plyr__volume {
        max-width: 150px !important;

        & .plyr__control {
            padding: 7px 20px !important;
        }
    }

    .plyr__control svg {
        height: 25px !important;
        width: 25px !important;
    }

    .plyr__control {
        padding: 7px 25px !important;
    }
}

.canvasDomContainer{
    position: fixed;
    // margin-top:500px;
    // height:200px;
    // background-color: #269F05;
    // vertical-align: middle
}

.essayTextArea{
    height: 180px;
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

// .htmlLayer {
//     width: 100%;
//     position: absolute;
//     z-index: 123139;
//     margin-left: auto;
//     margin-right: auto;
//     div.topRow, div.bottomRow {
//       margin-left: auto;
//       margin-right: auto;
//       width: 100%;
//     }
//     div.topRow {
//         height: 60px;
//         padding: 0px 20px;
//         div.topRowLeft {
//             float:left;
//         };
//         div.topRowRight {
//             display: flex;
//             float:right;
//         }
//     }
// }

// .nav-container {
//     width: fit-content;
//     width: -moz-fit-content;
//     width: -webkit-fit-content;
//     margin-left: auto; 

//     font-family: 'Myriad Pro', sans-serif;
//     font-weight: normal;
//     font-size: 0.9vw;
//     color: white;
//     text-align: center;

//     .navBullet {
//       height: 0.8vw;
//     }

//     .navArrows {
//         height: 1.7vw;
//     }
// }

// .navButtons {
//     cursor: pointer;
//     padding: 0 0.4vw;

//     &[data-inactive] {
//         cursor: unset;
//     }
// }

// .fa-chevron-circle-right, .fa-circle, .fa-chevron-circle-left{
//   color:#ffffff;
//   cursor:pointer;
// }

// [type=radio] { 
//     position: absolute;
//     opacity: 0;
//     width: 0;
//     height: 0;
// }

// [type=radio] + img {
//     cursor: pointer;
// }

// [type=radio] + img {
//     cursor: pointer;
//     background-image: url('../sprites/icn_radiobutton_empty_blue.svg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 29px;
// }

// [type=radio]:checked + img {
//     background-image: url('../sprites/icn_radiobutton_filled_blue.svg');
// }

// .questionary-container {
//     padding: 2% 0;

//     form {
//         padding-top: 1%;
//     }
// }

// .questionary-title {
//     font-family: Pangolin;
//     font-size: 26px;
// }

// .options-title {
//     font-family: Myriad Pro;
//     font-size: 13px;
//     font-weight: bold;
//     margin-top: 14px;
//     align-items: center;

//     .statement {
//         font-size: 14px;
//     }

//     .option {
//         text-align: center;
//     }

//     .statement,
//     .option {
//         padding: 0;
//     }
// }

// .question-container,
// .feedback-container {
//     font-size: 16px;
//     font-family: Myriad Pro;
// }

// .optionsContainer {
//     margin: 0 14px;
// }

// .correct-feedback {
//     color: $correct-feedback;
// }

// .incorrect-feedback {
//     color: $incorrect-feedback;
// }

// .correct-feedback,
// .incorrect-feedback {
//     font-family: Pangolin;
// }

// .only-feedback {
//     position: absolute;
//     top: 50%;
//     width: 50%;
//     transform: translate(25%, -50%);
//     -webkit-transform: translate(25%, -50%);
//     -moz-transform: translate(25%, -50%);
// }

// /* iPads (portrait and landscape) ----------- */
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}
// /* iPads (landscape) ----------- */
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
//     .htmlLayer {
//         height: 100vh;
//         z-index: 999999;
//         .topRow {
//             height: 8vh;
//         }
//         .middleRow {
//             min-height: 55vh;
//         }
//         .bottomRow {
//             height: 5vh;
//         }
//     }
// }
// /* iPads (portrait) ----------- */
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
//     .htmlLayer {
//         height: 100vh;
//         z-index: 999999;
//         .topRow {
//             height: 8vh;
//         }
//         .middleRow {
//             min-height: 25vh;
//         }
//         .bottomRow {
//             height: 5vh;
//         }
//     }
// }
// /**********
//     iPad 3
//     **********/
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {}
// /* iPhone 5 ----------- */
// @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
//     .htmlLayer {
//         height: 100vh;
//         z-index: 999999;
//         .topRow {
//             height: 8vh;
//         }
//         .middleRow {
//             min-height: 75vh;
//         }
//         .bottomRow {
//             height: 5vh;
//         }
//     }
// }
// @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
//     .htmlLayer {
//         height: 100vh;
//         z-index: 999999;
//         .topRow {
//             height: 8vh;
//         }
//         .middleRow {
//             min-height: 18vh;
//         }
//         .bottomRow {
//             height: 5vh;
//         }
//     }
// }
// /* iPhone 6, 7, 8 ----------- */
// @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
//     /* Styles */
// }
// /* Desktops and laptops ----------- */
// @media only screen and (min-width: 1224px) {
//     .htmlLayer {
//         height: 100vh;
//         z-index: 999999;
//         .topRow {
//             height: 8vh;
//         }
//         .middleRow {
//             min-height: 70vh;
//         }
//         .bottomRow {
//             height: 5vh;
//         }
//     }
// }
// /* Large screens ----------- */
// @media only screen and (min-width: 1824px) {
//     /* Styles */
// }

.form-group {
    margin-bottom: 0.4rem;
}

#colorPickerContainer{
  position: fixed;
  z-index: 20
  
}

:not(:root):-webkit-full-screen::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: #3b3939;
}
#videoPage1{
  // width: 8%;
}

